$black: #262626;
$white: #D9D9D9;
$accent: #f8d574;
$accent-dark: #E7A060;

$font: 'Trebuchet MS', sans-serif;

// Box shadows
$raised: 8px 8px 15px #202020, -8px -8px 15px #2c2c2c;
$raised-sm: 5px 5px 15px #1e1e1e, -5px -5px 15px #343434;
$hide: 5px 5px 0 15px $black, -5px -5px 0 15px $black;
$inset: inset 5px 5px 15px #1e1e1e, inset -5px -5px 15px #343434;