{% extends "base.html" %}

{% block body %}

<div class="edit-container">
    <h1>Add Course</h1>
    <form id="course-form" method="POST" onkeydown="return event.key != 'Enter';">
        {{ edit_form.csrf_token }}
        {{ edit_form.name(autocomplete="off", placeholder="Course name") }}
        {{ edit_form.start(autocomplete="off", placeholder="11:30") }}
        {{ edit_form.end(autocomplete="off", placeholder="13:00") }}
        <div class="days-checkboxes">
            <div class="days-checkboxes--stacked">{{ edit_form.monday.label }} {{ edit_form.monday }}</div>
            <div class="days-checkboxes--stacked">{{ edit_form.tuesday.label }} {{ edit_form.tuesday }}</div>
            <div class="days-checkboxes--stacked">{{ edit_form.wednesday.label }} {{ edit_form.wednesday }}</div>
            <div class="days-checkboxes--stacked">{{ edit_form.thursday.label }} {{ edit_form.thursday }}</div>
            <div class="days-checkboxes--stacked">{{ edit_form.friday.label }} {{ edit_form.friday }}</div>
        </div>
        {{ edit_form.submit_course }}
    </form>
    <form id="submit-form" method="POST">
        {{ done_form.csrf_token }}
        {{ done_form.done }}
    </form>
</div>

{% endblock %}