{% extends "base.html" %}

{% block body %}

<div class="edit">
    <h1 class="edit__title">Add Course</h1>

    <form class="edit__form" id="course-form" method="POST" onkeydown="return event.key != 'Enter';">
        {{ edit_form.csrf_token }}
        {{ edit_form.name(class_="edit__form__text", autocomplete="off", placeholder="Course name") }}
        {{ edit_form.start(class_="edit__form__text", autocomplete="off", placeholder="11:30") }}
        {{ edit_form.end(class_="edit__form__text", autocomplete="off", placeholder="13:00") }}
        <div class="edit__form__days-box">
            <div>{{ edit_form.monday.label }} {{ edit_form.monday }}</div>
            <div>{{ edit_form.tuesday.label }} {{ edit_form.tuesday }}</div>
            <div>{{ edit_form.wednesday.label }} {{ edit_form.wednesday }}</div>
            <div>{{ edit_form.thursday.label }} {{ edit_form.thursday }}</div>
            <div>{{ edit_form.friday.label }} {{ edit_form.friday }}</div>
        </div>
        {{ edit_form.submit_course(class_="edit__form__button") }}
    </form>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

            {% if category == 'course_list' %}
                <p class="edit__popup">Added {{ message }}</p>
            {% endif %}

            {% if category == 'error' %}
                <p class="edit__alert">{{ message }}</p>
            {% endif %}

        {% endfor %}
    {% endif %}
    {% endwith %}

    <form class="edit__form" id="submit-form" method="POST">
        {{ done_form.csrf_token }}
        {{ done_form.done(class_="edit__form__button") }}
    </form>
</div>

{% endblock %}