{% extends "base.html" %}

{% block body %}

<div class="week-container">
    
    <div class="week">
        <div class="week--col week--col-time">
            <ul>
                <li><p> 7:00</p></li>
                <li><p> 7:30</p></li>
                <li><p> 8:00</p></li>
                <li><p> 8:30</p></li>
                <li><p> 9:00</p></li>
                <li><p> 9:30</p></li>
                <li><p>10:00</p></li>
                <li><p>10:30</p></li>
                <li><p>11:00</p></li>
                <li><p>11:30</p></li>
                <li><p>12:00</p></li>
                <li><p>12:30</p></li>
                <li><p> 1:00</p></li>
                <li><p> 1:30</p></li>
                <li><p> 2:00</p></li>
                <li><p> 2:30</p></li>
                <li><p> 3:00</p></li>
                <li><p> 3:30</p></li>
                <li><p> 4:00</p></li>
                <li><p> 4:30</p></li>
                <li><p> 5:00</p></li>
                <li><p> 5:30</p></li>
                <li><p> 6:00</p></li>
                <li><p> 6:30</p></li>
                <li><p> 7:00</p></li>
            </ul>
        </div>
        
        <div class="week--col week--col-day">
            <h2>Monday</h2>
            {% for box in week['M'] %}
                <div class="course" style="top: {{ box.top }}rem; height: {{ box.length }}rem;">
                    <p>{{box.course}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="week--col week--col-day">
            <h2>Tuesday</h2>
            {% for box in week['T'] %}
                <div class="course" style="top: {{ box.top }}rem; height: {{ box.length }}rem;">
                    <p>{{box.course}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="week--col week--col-day">
            <h2>Wednesday</h2>
            {% for box in week['W'] %}
                <div class="course" style="top: {{ box.top }}rem; height: {{ box.length }}rem;">
                    <p>{{box.course}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="week--col week--col-day">
            <h2>Thursday</h2>
            {% for box in week['Th'] %}
                <div class="course" style="top: {{ box.top }}rem; height: {{ box.length }}rem;">
                    <p>{{box.course}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="week--col week--col-day">
            <h2>Friday</h2>
            {% for box in week['F'] %}
                <div class="course" style="top: {{ box.top }}rem; height: {{ box.length }}rem;">
                    <p>{{box.course}}</p>
                </div>
            {% endfor %}
        </div>
    </div> <!-- /week -->

    <div class="btn-box">
        <a href="{{ url_for('set_index', change=-1) }}"><div class="btn">Previous</div></a>
        <a href="{{ url_for('editor', courses_json='[') }}"><div class="btn">Start Over</div></a>
        <a href="{{ url_for('set_index', change=1) }}"><div class="btn">Next</div></a>
    </div>

    <h2>Schedule number: {{ index+1 }}</h2>
</div> <!-- /weelk-container -->
{% endblock %}